<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sys.mapper.MetahumanMapper">

    <!--    <insert id="createMetahuman" parameterType="com.sys.entity.Metahuman">-->
    <!--        INSERT INTO metahuman (gender, name, status, create_time, update_time, pid, vid)-->
    <!--        VALUES (#{gender}, #{name}, #{status}, #{createTime}, #{updateTime}, #{pid}, #{vid})-->
    <!--    </insert>-->

    <!--    <select id="selectMetahumanByCondition" parameterType="com.sys.vo.MetahumanInfo" resultType="com.sys.entity.Metahuman">-->
    <!--        SELECT * FROM metahuman-->
    <!--        WHERE gender = #{gender} AND name = #{name} AND status = #{status}-->
    <!--    </select>-->

    <!--    <update id="updateMetahuman" parameterType="com.sys.entity.Metahuman">-->
    <!--        UPDATE metahuman-->
    <!--        SET gender = #{gender}, name = #{name}, status = #{status}, update_time = #{updateTime}-->
    <!--        WHERE mid = #{mid}-->
    <!--    </update>-->

    <!--    <delete id="deleteMetahuman" parameterType="long">-->
    <!--        DELETE FROM metahuman WHERE mid = #{mid}-->
    <!--    </delete>-->

</mapper>
